/* Colour palette is cosy and peaceful, soft pastel colours are used to , 
tones of green, pink and cream. 
Vivid and striking colours are not suitable */
/* Colours: B6EBAC DBF1C8 FFF7E4 FED3D7 FDAFC9 */

/* Style the video: 100% width and height to cover the entire window */
@font-face {
  font-family: "MyFont";
  src: url("Minecraft.otf") format("opentype");
}

* {
  box-sizing: border-box;
}

body {
  background-color: transparent;
  margin: 0;
  font-family: "Minecraft.otf";
  font-size: 17px;
}
/* code for the controls of the site, play/pause, progress bar */
.custom-controls {
  position: fixed;
  bottom: 0;
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 10px;
  width: 100%;
}

.title-heading {
  background-color: transparent;
  position: relative;
  bottom: 0;
  /* color: #f1f1f1; */
  padding: 20px;
}

h1 {
  font-family: "MyFont";
  margin-left: 20px;
  font-size: 20px;
  padding: 10px;
  color: #fff;
}

/* Play/pause button */
.custom-controls button {
  background-color: transparent;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  font-size: 16px;
  display: flex;
  align-items: center;
}

#my-video1 {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

/* Add some content at the bottom of the video/page */

.progress-bar {
  width: 30%;
  height: 10px;
  background-color: #ddd;
  margin-top: 10px;
  overflow: hidden;
}

.progress-bar span {
  margin-top: 40px;
  display: block;
  height: 100%;
  background-color: #fdafc9;
  width: 0;
  transition: width 0.3s ease;
}

/* Style the button used to pause/play the video */

/* body {
  background-color: #ffede1;
}

h1,
h2 {
  color: black;
} */

/* 
h2 {
  font-size: 1.1rem;
  : black;
} */
