/* Colour palette resembles a cosy and peaceful study space for users, 
tones of green, pink and cream. 
Vivid and striking colours are not suitable */
/* Colours: B6EBAC DBF1C8 FFF7E4 FED3D7 FDAFC9 */

body {
  background-color: #ffede1;
}

h1,
h2 {
  color: black;
}

/* 
h2 {
  font-size: 1.1rem;
  : black;
} */
