@font-face {
  font-family: "MyFont";
  src: url("fonts/Minecraft.otf") format("opentype");
}

@font-face {
  font-family: "MyFont2";
  src: url("fonts/Minecraft-Bold.otf") format("opentype");
}

body {
  background-color: #fff4f0;
  margin-left: 18%;
}

a {
  text-decoration: none;
  font-size: 0.9rem;
  margin-top: 1.6rem;
  margin-left: 9%;
  text-align: left;
  font-weight: 700;
  font-family: Poppins;
  color: #ff91b5;
  background: #ffffff;
  border-radius: 22px;
  width: auto;
  height: 21px;
  padding: 12px;
}

a:hover {
  background-color: #8cfa9e;
  color: rgb(255, 255, 255);
}

h1 {
  text-align: left;
  margin-left: 9%;

  font-family: MyFont2;
  margin-top: 80px;
  width: 600px;
  font-size: 1.2rem;
  color: #ff91b5;
}

h2 {
  font-size: 1.3rem;
  margin-top: 3%;
  margin-left: 9%;
  margin-bottom: 20px;
  text-align: left;
  max-width: 200px;
  white-space: nowrap;
  font-family: MyFont2;
  color: #8cfa9e;
}

.my-name {
  font-size: 1.3rem;
  margin-top: 3%;
  margin-left: 9%;
  margin-bottom: 20px;
  text-align: left;
  max-width: auto;
  white-space: nowrap;
  font-family: MyFont;
  color: #ff91b5;
}

h3 {
  font-size: 1.1rem;
  margin-top: 1.6rem;
  margin-left: 2rem;
  margin-left: 9%;
  text-align: left;
  max-width: 634px;
  font-family: MyFont;
  color: #ff91b5;
}

h4 {
  font-size: 0.9rem;
  margin-top: 1.6rem;
  margin-left: 2rem;
  margin-left: 9%;
  text-align: left;
  max-width: 634px;
  font-weight: 400;
  font-family: Poppins;
  color: #ffa9c6;
}
