h1 {
  text-align: center;
  font-family: Poppins;
  margin-top: 80px;
  font-size: 1.6rem;
  color: #ff91b5;
}

h2 {
  margin-top: 1.6rem;
  margin-bottom: 3em;
  text-align: center;
  max-width: 634px;
  font-family: Poppins;
  color: #8cfa9e;
}
