@import url();

/* for styling an id use #*/
#firstname {
  background-color: yellow;
}

/* * {
  color: rgb(150, 235, 150);
} */
body {
  margin: 0 auto;
  background-color: #fff1e6;
  min-height: 100vh;
}

.banner {
  padding: 30px;
  background: #766257;
}

li {
  color: rgb(148, 122, 105);
}

h1 {
  margin-left: 30%;
  text-align: left;
  color: #766257;
  font-weight: 700;
  font-family: "Poppins";
  text-align: justify;
}

h2 {
  color: rgb(150, 235, 150);
  font-weight: 600;
  margin-left: 30%;
  text-align: left;
  font-family: "Poppins";
  text-align: justify;
}

h3 {
  font-family: "Poppins";
  text-align: left;
  color: rgb(150, 235, 150);
  padding: 20px;
  font-size: 15px;
  max-width: 800px;
  margin-top: 10px;
  margin-left: 19%;
  margin-bottom: 20px;
}

p {
  color: rgb(87, 71, 51);
  font-weight: 300;
  font-family: "Poppins";
  padding: 20px;
  font-size: 15px;
  max-width: 800px;
  margin-top: 10px;
  margin-left: 19%;
  margin-bottom: 10px;
}

/* class has dot . */

/* QUESTION LINKS TOP OF PAGE */
.reference-links {
  text-align: center;
  font-family: "Poppins";
  font-weight: 300;
  word-spacing: 35px;
}

a {
  color: #635041;
  text-decoration: underline;
}

.website-url {
  margin-left: 40%;
  text-align: center;
  font-family: "Poppins";
  font-weight: 500;
  border: 1px solid #ff91b5;
  background: #ff91b5;
  border-radius: 20px;
  width: 250px;
  height: 30px;
  padding: 8px;
}

/* div - what html to be styled - {} group declarations for a selector */
/* property - what aspects of design to adjust eg.font-weight */
/*  */
/* curly braces {} */
/* square brackets [] */
/* parentheses <> */
/* round brackets () */
/* colon : */
/* semicolon ; */
/* syntax - rules of writing */
