body {
  background-color: #fff8ee;
}

.plant-button {
  margin-left: 26%;
  width: 27px;
  border: 2px solid #ffffff;
  background: #8cfa9e;
  border-radius: 30px;
  padding: 8px;
}

#logo {
  margin-left: 37%;
  align-items: center;
}

#play-pause-button {
  border: none;
  background-color: transparent;
  margin-left: 14%;
  align-items: center;
}

nav {
  padding-top: 27px;
  display: flex;
}

#myImg {
  width: 100px;
}

#myImg2 {
  width: 100px;
}

#myImg3 {
  width: 100px;
}

#plant-shop {
  width: 560px;
  margin-left: 27%;
  border-radius: 10px;
  border-color: #8cfa9e;
}
