@font-face {
  font-family: "MyFont";
  src: url("fonts/MoreSugar-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "MyFont2";
  src: url("fonts/MoreSugar-Thin.otf") format("truetype");
}

body {
  background-color: #fff8ee;
}

.dropbox {
  border: 2px dashed #e5e5cb7a;
  cursor: pointer;
  width: 200px;
  min-height: 200px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

/* .plant-button {
  margin-left: 26%;
  width: 27px;
  border: 2px solid #ffffff;
  background: #8cfa9e;
  border-radius: 30px;
  padding: 8px;
} */

#logo {
  margin-left: 38%;
  align-items: center;
}

#play-pause-button {
  border: none;
  background-color: transparent;
  margin-left: 14%;
  align-items: center;
}

nav {
  padding-top: 27px;
  display: flex;
}

/* PLANT ICONS + SHOP SCREEN */
.container-game #plant-shop {
  position: relative;
  width: 560px;
  margin-left: 28%;
  border-radius: 10px;
}

.container-game #myImg {
  width: 200px;
  position: absolute;
  top: 85%;
  left: 34%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: transparent;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.container-game #myImg2 {
  width: 200px;
  position: absolute;
  top: 85%;
  left: 44%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: transparent;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.container-game #myImg3 {
  width: 200px;
  position: absolute;
  top: 85%;
  left: 54%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: transparent;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

/* .container-game img {
  width: 100%;
  height: auto;
} */

/* My watering can button, placed over shop screen at the bottom of screen */
.container-game #myButton {
  width: 150px;
  position: absolute;
  top: 85%;
  left: 67%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: transparent;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.splash {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #fff8ee;
  font-family: "MyFont2";
  font-size: 2rem;
  z-index: 1000;
  color: #ff91b5;
  text-align: center;
  line-height: 90vh;
}

.splash p {
  color: #ff91b5;
  font-family: "MyFont2";
  font-size: 2rem;
  position: relative;
}

.splash.display-none {
  position: fixed;
  opacity: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #fff8ee;
  z-index: -10;
  color: #ff91b5;
  font-family: "MyFont2";
  text-align: center;
  line-height: 90vh;
  transition: all 0.5s;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.fade-in {
  opacity: 0;
  animation: fadeIn 1s ease-in forwards;
}

/* ---------------- */

.plant-name {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.plant-name .tooltiptext {
  visibility: hidden;
  width: 120px;
  color: black;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  border: 3px solid black;
  bottom: 100%;
  left: 50%;
  margin-left: -60px;
  background-color: white;
  opacity: 0;
  transition: opacity 1s;
}

.plant-name:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
