body {
  background-color: #fff8ee;
}

.plant-button {
  margin-left: 26%;
  width: 27px;
  border: 2px solid #ffffff;
  background: #8cfa9e;
  border-radius: 30px;
  padding: 8px;
}

#logo {
  margin-left: 36%;
}

nav {
  padding-top: 27px;
}

#myImg {
  width: 100px;
}

#myImg2 {
  width: 100px;
}

#myImg3 {
  width: 100px;
}
