@import url();

/* h1 {
  color: rgb(255, 162, 198);
  font-weight: 800;
}

h2 {
  color: rgb(150, 235, 150);
  font-weight: 600;
  font-family: ;
}

h3 {
  color: rgb(150, 235, 150);
}

p {
  color: rgb(99, 79, 66);
  font-weight: 100;
} */

/* div - what html to be styled - {} group declarations for a selector */
/* property - what aspects of design to adjust eg.font-weight */
/*  */
/* curly braces {} */
/* square brackets [] */
/* parentheses <> */
/* round brackets () */
/* colon : */
/* semicolon ; */
/* syntax - rules of writing */
